@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('../fonts/lanenar-webfont.eot');
    src: url('../fonts/lanenar-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lanenar-webfont.woff') format('woff'),
         url('../fonts/lanenar-webfont.ttf') format('truetype'),
         url('../fonts/lanenar-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'AsapRegular';
    src: url('../fonts/Asap-Regular-webfont.eot');
    src: url('../fonts/Asap-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Asap-Regular-webfont.woff') format('woff'),
         url('../fonts/Asap-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Asap-Regular-webfont.svg#AsapRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapItalic';
    src: url('../fonts/Asap-Italic-webfont.eot');
    src: url('../fonts/Asap-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Asap-Italic-webfont.woff') format('woff'),
         url('../fonts/Asap-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Asap-Italic-webfont.svg#AsapItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapBold';
    src: url('../fonts/Asap-Bold-webfont.eot');
    src: url('../fonts/Asap-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Asap-Bold-webfont.woff') format('woff'),
         url('../fonts/Asap-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Asap-Bold-webfont.svg#AsapBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapBoldItalic';
    src: url('../fonts/Asap-BoldItalic-webfont.eot');
    src: url('../fonts/Asap-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Asap-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Asap-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Asap-BoldItalic-webfont.svg#AsapBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('../fonts/ostrich-regular-webfont.eot');
    src: url('../fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ostrich-regular-webfont.woff') format('woff'),
         url('../fonts/ostrich-regular-webfont.ttf') format('truetype'),
         url('../fonts/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yanone_kaffeesatz_boldregular';
    src: url('../fonts/yanonekaffeesatz-bold-webfont.eot');
    src: url('../fonts/yanonekaffeesatz-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yanonekaffeesatz-bold-webfont.woff') format('woff'),
         url('../fonts/yanonekaffeesatz-bold-webfont.ttf') format('truetype'),
         url('../fonts/yanonekaffeesatz-bold-webfont.svg#yanone_kaffeesatz_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yanone_kaffeesatz_lightRg';
    src: url('../fonts/yanonekaffeesatz-light-webfont.eot');
    src: url('../fonts/yanonekaffeesatz-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yanonekaffeesatz-light-webfont.woff') format('woff'),
         url('../fonts/yanonekaffeesatz-light-webfont.ttf') format('truetype'),
         url('../fonts/yanonekaffeesatz-light-webfont.svg#yanone_kaffeesatz_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yanone_kaffeesatz_regularRg';
    src: url('../fonts/yanonekaffeesatz-regular-webfont.eot');
    src: url('../fonts/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('../fonts/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
         url('../fonts/yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatz_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yanone_kaffeesatz_thinregular';
    src: url('../fonts/yanonekaffeesatz-thin-webfont.eot');
    src: url('../fonts/yanonekaffeesatz-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yanonekaffeesatz-thin-webfont.woff') format('woff'),
         url('../fonts/yanonekaffeesatz-thin-webfont.ttf') format('truetype'),
         url('../fonts/yanonekaffeesatz-thin-webfont.svg#yanone_kaffeesatz_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'Conv_OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'),
	 url('../fonts/OpenSans-Regular.ttf') format('truetype'), 
	 url('../fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

