/************** Skin 2 *********************/
.dd1 {
	/*display:inline-block !important;*/
	text-align:left;
	float:left;
	 background:#ffffff url(../images/input_arrow.png) right center no-repeat; 
	border:0px;  outline:0px; border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px; box-shadow: inset 0px -1px 0 #bababa; color: #a5a5a5; 
	height:26px;}

.dd1 .ddTitle {
	text-indent:0;
	cursor:default;
	overflow:hidden;
	 padding:0px 2px;
}
.dd1 .ddTitle span.arrow {}

.dd1 .ddTitle span.ddTitleText { text-indent:1px; overflow:hidden; font:12px AsapRegular; color: #a5a5a5; position:relative; padding:10px 0 10px 5px; top:0;
font-family:Arial, Helvetica, sans-serif; font-size:12px;line-height:25px;
}

.dd1 .ddTitle span.ddTitleText img{text-align:left; padding:0 0 0 0;}
.dd1 .ddTitle img.selected {
	padding:0 0 0 0;
	vertical-align:bottom;
}
.dd1 .ddChild {
	z-index:1;
	position:absolute;
	margin:0px 0 0 0;
	top:10px;
	border:0;
	display:none;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
	border:1px solid #c9c9c9;
}
.dd1 .ddChild .opta a, .dd2 .ddChild .opta a:visited { padding-left:10px; }
.dd1 .ddChild a {
	display:block;
	padding:7px 0 7px 10px;
	border-top:1px solid #c9c9c9;
	text-decoration:none;
	font:12px AsapRegular;

	color: #a5a5a5;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
}
.dd1 .ddChild a:hover {
	color:#fff;
	background-color:#00adef;
}
.dd1 .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}
.dd1 .ddChild a.selected {
	color:#606060;	
	background-color:#f0f1f1;
}

.dd1 .borderTop{border-top:0px solid #c3c3c3  !important;}
.dd1 .noBorderTop{{border-top:0px solid #c3c3c3  !important}


